NODE-Red flow.txt
[{"id":"6dbea38a.030b5c","type":"tab","label":"NETIO LCD monitor","disabled":false,"info":""},{"id":"db5298d4.b32d68","type":"http request","z":"6dbea38a.030b5c","name":"HTTP Request (GET)","method":"GET","ret":"txt","url":"","tls":"","x":620,"y":440,"wires":[["e1573d0f.b46ed"]]},{"id":"f3b62415.7d5438","type":"inject","z":"6dbea38a.030b5c","name":"1 Second Repeat","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":190,"y":480,"wires":[["6ef80d32.852c34","714ea566.fcba3c","c9f0b876.98cbd8"]]},{"id":"e1573d0f.b46ed","type":"xml","z":"6dbea38a.030b5c","name":"XML Parse","property":"payload","attr":"","chr":"","x":830,"y":440,"wires":[["d42d11d1.87b0a"]]},{"id":"6fe5f8fa.1fb998","type":"mqtt in","z":"6dbea38a.030b5c","name":"","topic":"node/netio-lcd-monitor:0/request/update","qos":"2","broker":"e649966c.8c2af8","x":210,"y":240,"wires":[["26c11514.629fda"]]},{"id":"ff841471.278088","type":"ui_text_input","z":"6dbea38a.030b5c","name":"","label":"2. Device URL","group":"57ff470b.93fdf8","order":43,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":140,"y":120,"wires":[["cd8b45e9.ef2fa8"]]},{"id":"29301745.cd9d38","type":"ui_text_input","z":"6dbea38a.030b5c","name":"","label":"3. Device URL","group":"57ff470b.93fdf8","order":45,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":140,"y":160,"wires":[["f11ac5d2.cd7668"]]},{"id":"cf9da4a.2437f58","type":"ui_text_input","z":"6dbea38a.030b5c","name":"","label":"1. Device URL","group":"57ff470b.93fdf8","order":41,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":140,"y":80,"wires":[["9132c6f.ed4f238"]]},{"id":"6ef80d32.852c34","type":"change","z":"6dbea38a.030b5c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"first_url","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":440,"wires":[["db5298d4.b32d68"]]},{"id":"9132c6f.ed4f238","type":"change","z":"6dbea38a.030b5c","name":"","rules":[{"t":"set","p":"first_url","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[[]]},{"id":"cd8b45e9.ef2fa8","type":"change","z":"6dbea38a.030b5c","name":"","rules":[{"t":"set","p":"second_url","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":120,"wires":[[]]},{"id":"f11ac5d2.cd7668","type":"change","z":"6dbea38a.030b5c","name":"","rules":[{"t":"set","p":"third_url","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":160,"wires":[[]]},{"id":"d50639ed.4c9d68","type":"ui_text_input","z":"6dbea38a.030b5c","name":"","label":"2. Device Name","group":"57ff470b.93fdf8","order":44,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":600,"y":120,"wires":[["9e0e876d.699228"]]},{"id":"250e344.add11cc","type":"ui_text_input","z":"6dbea38a.030b5c","name":"","label":"3. Device Name","group":"57ff470b.93fdf8","order":46,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":600,"y":160,"wires":[["7f072594.62e11c"]]},{"id":"6d668ba1.99b6f4","type":"ui_text_input","z":"6dbea38a.030b5c","name":"","label":"1. Device Name","group":"57ff470b.93fdf8","order":42,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":600,"y":80,"wires":[["d355b536.a53028"]]},{"id":"d355b536.a53028","type":"change","z":"6dbea38a.030b5c","name":"","rules":[{"t":"set","p":"first_name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":80,"wires":[[]]},{"id":"9e0e876d.699228","type":"change","z":"6dbea38a.030b5c","name":"","rules":[{"t":"set","p":"second_name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":120,"wires":[[]]},{"id":"7f072594.62e11c","type":"change","z":"6dbea38a.030b5c","name":"","rules":[{"t":"set","p":"third_name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":160,"wires":[[]]},{"id":"4a96d18b.f221a","type":"mqtt out","z":"6dbea38a.030b5c","name":"","topic":"node/netio-lcd-monitor:0/submit/-/netio/data","qos":"","retain":"","broker":"e649966c.8c2af8","x":970,"y":240,"wires":[]},{"id":"26c11514.629fda","type":"function","z":"6dbea38a.030b5c","name":"String Formater","func":"var firstName = flow.get(\"first_name\") || \"-1\";\nvar firstVoltage = flow.get(\"first_voltage\") || \"-1\";\nvar firstState = flow.get(\"first_state\") || \"-1\";\nvar secondName = flow.get(\"second_name\") || \"-1\";\nvar secondVoltage = flow.get(\"second_voltage\") || \"-1\";\nvar secondState = flow.get(\"second_state\") || \"-1\";\nvar thirdName = flow.get(\"third_name\") || \"-1\";\nvar thirdVoltage = flow.get(\"third_voltage\") || \"-1\";\nvar thirdState = flow.get(\"third_state\") || \"-1\";\n\n\n\nmsg.payload = \"\\\"\" + firstName + \";\" +\n                     firstVoltage + \";\" +\n                     firstState + \";\" +\n                     secondName + \";\" +\n                     secondVoltage + \";\" +\n                     secondState + \";\" +                     \n                     thirdName + \";\" +\n                     thirdVoltage + \";\" +\n                     thirdState + \";\" +\n                     \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["4a96d18b.f221a"]]},{"id":"66e597b5.abe9b8","type":"mqtt in","z":"6dbea38a.030b5c","name":"","topic":"node/netio-lcd-monitor:0/device/1/toggle","qos":"2","broker":"e649966c.8c2af8","x":230,"y":680,"wires":[["bc188ea8.44e67"]]},{"id":"bac581fb.a78db","type":"http request","z":"6dbea38a.030b5c","name":"HTTP Request (POST)","method":"POST","ret":"txt","url":"","tls":"","x":990,"y":720,"wires":[[]]},{"id":"bc188ea8.44e67","type":"change","z":"6dbea38a.030b5c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"first_url","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":680,"wires":[["7467fa5.249ad04"]]},{"id":"26c51d96.b61892","type":"mqtt in","z":"6dbea38a.030b5c","name":"","topic":"node/netio-lcd-monitor:0/device/2/toggle","qos":"2","broker":"e649966c.8c2af8","x":230,"y":720,"wires":[["2bff03e5.8b2f4c"]]},{"id":"da92df29.91c63","type":"mqtt in","z":"6dbea38a.030b5c","name":"","topic":"node/netio-lcd-monitor:0/device/3/toggle","qos":"2","broker":"e649966c.8c2af8","x":230,"y":760,"wires":[["9aabc018.ce46"]]},{"id":"2bff03e5.8b2f4c","type":"change","z":"6dbea38a.030b5c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"second_url","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":720,"wires":[["7467fa5.249ad04"]]},{"id":"9aabc018.ce46","type":"change","z":"6dbea38a.030b5c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"third_url","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":760,"wires":[["7467fa5.249ad04"]]},{"id":"7467fa5.249ad04","type":"change","z":"6dbea38a.030b5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<set:Root xmlns:set=\"http://www.netio-products.com/XMLSchema/NETIO.xsd\">  <Outputs>   <Output>    <ID>1</ID>    <Action>4</Action>   </Output>  </Outputs> </set:Root>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":720,"wires":[["bac581fb.a78db"]]},{"id":"714ea566.fcba3c","type":"change","z":"6dbea38a.030b5c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"second_url","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":480,"wires":[[]]},{"id":"c9f0b876.98cbd8","type":"change","z":"6dbea38a.030b5c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"third_url","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":520,"wires":[[]]},{"id":"8ca712d5.6b47c","type":"http request","z":"6dbea38a.030b5c","name":"HTTP Request (GET)","method":"GET","ret":"txt","url":"","tls":"","x":620,"y":480,"wires":[["4156b053.c9ec9"]]},{"id":"58f3e4a0.62931c","type":"http request","z":"6dbea38a.030b5c","name":"HTTP Request (GET)","method":"GET","ret":"txt","url":"","tls":"","x":620,"y":520,"wires":[["e55ee0b6.ec6c9"]]},{"id":"4156b053.c9ec9","type":"xml","z":"6dbea38a.030b5c","name":"XML Parse","property":"payload","attr":"","chr":"","x":830,"y":480,"wires":[["8f431bba.b69518"]]},{"id":"e55ee0b6.ec6c9","type":"xml","z":"6dbea38a.030b5c","name":"XML Parse","property":"payload","attr":"","chr":"","x":830,"y":520,"wires":[["3430af10.b829b"]]},{"id":"d42d11d1.87b0a","type":"function","z":"6dbea38a.030b5c","name":"First Value Reader","func":"var state = \"ON\";\n\ntry{msg.Voltage = msg.payload[\"set:Root\"].GlobalMeasure[0].Voltage[0]}\n    catch (err1) {msg.Voltage = 0;}\n\nmsg.O1_State = msg.payload[\"set:Root\"].Outputs[0].Output[0].State[0];\n\nif(msg.O1_State == \"1\") \n{\n    state = \"ON\";\n    msg.O1_Color = \"#09ef28\";\n}\nelse \n{\n    state = \"OFF\";\n    msg.O1_Color = \"Orange\";\n}\n\nflow.set(\"first_voltage\", msg.Voltage);\n\nflow.set(\"first_state\", state);\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":440,"wires":[[]]},{"id":"8f431bba.b69518","type":"function","z":"6dbea38a.030b5c","name":"Second Value Reader","func":"var state = \"ON\";\n\ntry{msg.Voltage = msg.payload[\"set:Root\"].GlobalMeasure[0].Voltage[0]}\n    catch (err1) {msg.Voltage = 0;}\n\nmsg.O1_State = msg.payload[\"set:Root\"].Outputs[0].Output[0].State[0];\n\nif(msg.O1_State == \"1\") \n{\n    state = \"ON\";\n    msg.O1_Color = \"#09ef28\";\n}\nelse \n{\n    state = \"OFF\";\n    msg.O1_Color = \"Orange\";\n}\n\nflow.set(\"second_voltage\", msg.Voltage);\n\nflow.set(\"second_state\", state);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":480,"wires":[[]]},{"id":"3430af10.b829b","type":"function","z":"6dbea38a.030b5c","name":"Third Value Reader","func":"var state = \"ON\";\n\ntry{msg.Voltage = msg.payload[\"set:Root\"].GlobalMeasure[0].Voltage[0]}\n    catch (err1) {msg.Voltage = 0;}\n\nmsg.O1_State = msg.payload[\"set:Root\"].Outputs[0].Output[0].State[0];\n\nif(msg.O1_State == \"1\") \n{\n    state = \"ON\";\n    msg.O1_Color = \"#09ef28\";\n}\nelse \n{\n    state = \"OFF\";\n    msg.O1_Color = \"Orange\";\n}\n\nflow.set(\"third_voltage\", msg.Voltage);\n\nflow.set(\"third_state\", state);\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":520,"wires":[[]]},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57ff470b.93fdf8","type":"ui_group","z":"","name":"Default","tab":"11207769.c31889","disp":true,"width":"6","collapse":false},{"id":"11207769.c31889","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]